# Cleaning NYC High School Data

One of the most controversial issues in the U.S. educational system is the efficacy of standardized tests, and whether they're unfair to certain groups. Given our prior knowledge of this topic, investigating the correlations between [SAT scores](https://en.wikipedia.org/wiki/SAT) and demographics might be an interesting angle to take. We could correlate SAT scores with factors like race, gender, income, and more.

The SAT, or Scholastic Aptitude Test, is an exam that U.S. high school students take before applying to college. Colleges take the test scores into account when deciding who to admit, so it's fairly important to perform well on it.

The test consists of three sections, each of which has 800 possible points. The combined score is out of 2,400 possible points (while this number has changed a few times, the data set for our project is based on 2,400 total points). Organizations often rank high schools by their average SAT scores. The scores are also considered a measure of overall school district quality.

New York City makes its [data on high school SAT scores](https://data.cityofnewyork.us/Education/SAT-Results/f9bf-2cp4) available online, as well as the [demographics for each high school](https://data.cityofnewyork.us/Education/DOE-High-School-Directory-2014-2015/n3p6-zve2). The first few rows of the SAT data look like this:
![image.png](attachment:image.png)
Unfortunately, combining both of the data sets won't give us all of the demographic information we want to use. We'll need to supplement our data with other sources to do our full analysis.

The same website has several related data sets covering demographic information and test scores. Here are the links to all of the data sets we'll be using:
- SAT scores by school - SAT scores for each high school in New York City
- School attendance - Attendance information for each school in New York City
- Class size - Information on class size for each school
- AP test results - Advanced Placement (AP) exam results for each high school (passing an optional AP exam in a particular subject can earn a student college credit in that subject)
- Graduation outcomes - The percentage of students who graduated, and other outcome information
- Demographics - Demographic information for each school
- School survey - Surveys of parents, teachers, and students at each school

All of these data sets are interrelated. We'll need to combine them into a single data set before we can find correlations.

From Domain knowledge and research, we know that.

- Only high school students take the SAT, so we'll want to focus on high schools.
- New York City is made up of five boroughs, which are essentially distinct regions.
- New York City schools fall within several different school districts, each of which can contains dozens of schools.
- Our data sets include several different types of schools. We'll need to clean them so that we can focus on high schools only.
- Each school in New York City has a unique code called a DBN, or district borough number.
- Aggregating data by district will allow us to use the district mapping data to plot district-by-district differences.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
# Reading in the data
data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]
data = {}
for file in data_files:
    key_name = file.split(".")[0]
    data[key_name] = pd.read_csv("schools/"+file)

In [3]:
## Visualizing our data
for key in data:
    print('---------',key,"------------")
    print(data[key].head())
    print('-----------------------')

--------- ap_2010 ------------
      DBN                             SchoolName AP Test Takers   \
0  01M448           UNIVERSITY NEIGHBORHOOD H.S.              39
1  01M450                 EAST SIDE COMMUNITY HS              19
2  01M515                    LOWER EASTSIDE PREP              24
3  01M539         NEW EXPLORATIONS SCI,TECH,MATH             255
4  02M296  High School of Hospitality Management               s

  Total Exams Taken Number of Exams with scores 3 4 or 5
0                49                                   10
1                21                                    s
2                26                                   24
3               377                                  191
4                 s                                    s
-----------------------
--------- class_size ------------
   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0
3                           -                               17.0
4                           -                               15.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN
-----------------------
--------- demographics ------------
      DBN                       Name  schoolyear fl_percent  frl_percent  \
0  01M015  P.S. 015 ROBERTO CLEMENTE    20052006       89.4          NaN
1  01M015  P.S. 015 ROBERTO CLEMENTE    20062007       89.4          NaN
2  01M015  P.S. 015 ROBERTO CLEMENTE    20072008       89.4          NaN
3  01M015  P.S. 015 ROBERTO CLEMENTE    20082009       89.4          NaN
4  01M015  P.S. 015 ROBERTO CLEMENTE    20092010                    96.5

   total_enrollment prek   k grade1 grade2  ... black_num black_per  \
0               281   15  36     40     33  ...        74      26.3
1               243   15  29     39     38  ...        68      28.0
2               261   18  43     39     36  ...        77      29.5
3               252   17  37     44     32  ...        75      29.8
4               208   16  40     28     32  ...        67      32.2

  hispanic_num hispanic_per white_num white_per male_num male_per female_num  \
0          189         67.3         5       1.8    158.0     56.2      123.0
1          153         63.0         4       1.6    140.0     57.6      103.0
2          157         60.2         7       2.7    143.0     54.8      118.0
3          149         59.1         7       2.8    149.0     59.1      103.0
4          118         56.7         6       2.9    124.0     59.6       84.0

  female_per
0       43.8
1       42.4
2       45.2
3       40.9
4       40.4

[5 rows x 38 columns]
-----------------------
--------- graduation ------------
    Demographic     DBN                            School Name    Cohort  \
0  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
1  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
2  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
3  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
4  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug

   Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
0             5               s                         s                 s
1            55              37                     67.3%                17
2            64              43                     67.2%                27
3            78              43                     55.1%                36
4            78              44                     56.4%                37

  Total Regents - % of cohort Total Regents - % of grads  ...  \
0                           s                          s  ...
1                       30.9%                      45.9%  ...
2                       42.2%                      62.8%  ...
3                       46.2%                      83.7%  ...
4                       47.4%                      84.1%  ...

  Regents w/o Advanced - n Regents w/o Advanced - % of cohort  \
0                        s                                  s
1                       17                              30.9%
2                       27                              42.2%
3                       36                              46.2%
4                       37                              47.4%

  Regents w/o Advanced - % of grads Local - n Local - % of cohort  \
0                                 s         s                   s
1                             45.9%        20               36.4%
2                             62.8%        16                 25%
3                             83.7%         7                  9%
4                             84.1%         7                  9%

    Local - % of grads Still Enrolled - n Still Enrolled - % of cohort  \
0                    s                  s                            s
1                54.1%                 15                        27.3%
2  37.200000000000003%                  9                        14.1%
3                16.3%                 16                        20.5%
4                15.9%                 15                        19.2%

  Dropped Out - n Dropped Out - % of cohort
0               s                         s
1               3                      5.5%
2               9                     14.1%
3              11                     14.1%
4              11                     14.1%

[5 rows x 23 columns]
-----------------------
--------- hs_directory ------------
      dbn                                        school_name       boro  \
0  17K548                Brooklyn School for Music & Theatre   Brooklyn
1  09X543                   High School for Violin and Dance      Bronx
2  09X327        Comprehensive Model School Project M.S. 327      Bronx
3  02M280     Manhattan Early College School for Advertising  Manhattan
4  28Q680  Queens Gateway to Health Sciences Secondary Sc...     Queens

  building_code    phone_number    fax_number grade_span_min  grade_span_max  \
0          K440    718-230-6250  718-230-6262              9              12
1          X400    718-842-0687  718-589-9849              9              12
2          X240    718-294-8111  718-294-8109              6              12
3          M520  718-935-3477             NaN              9              10
4          Q695    718-969-3155  718-969-3552              6              12

  expgrade_span_min  expgrade_span_max  ...  \
0               NaN                NaN  ...
1               NaN                NaN  ...
2               NaN                NaN  ...
3                 9               14.0  ...
4               NaN                NaN  ...

                                          priority02  \
0                    Then to New York City residents
1  Then to New York City residents who attend an ...
2  Then to Bronx students or residents who attend...
3  Then to New York City residents who attend an ...
4  Then to Districts 28 and 29 students or residents

                                          priority03  \
0                                                NaN
1                Then to Bronx students or residents
2  Then to New York City residents who attend an ...
3          Then to Manhattan students or residents
4               Then to Queens students or residents

                            priority04                       priority05  \
0                                  NaN                              NaN
1      Then to New York City residents                              NaN
2  Then to Bronx students or residents  Then to New York City residents
3      Then to New York City residents                              NaN
4      Then to New York City residents                              NaN

  priority06  priority07 priority08  priority09 priority10  \
0        NaN         NaN        NaN         NaN        NaN
1        NaN         NaN        NaN         NaN        NaN
2        NaN         NaN        NaN         NaN        NaN
3        NaN         NaN        NaN         NaN        NaN
4        NaN         NaN        NaN         NaN        NaN

                                          Location 1
0  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
1  1110 Boston Road\nBronx, NY 10456\n(40.8276026...
2  1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...
3  411 Pearl Street\nNew York, NY 10038\n(40.7106...
4  160-20 Goethals Avenue\nJamaica, NY 11432\n(40...

[5 rows x 58 columns]
-----------------------
--------- sat_results ------------
      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384
-----------------------

We can make a few observations based on this output:

- The DBN appears to be a unique ID for each high school.
- There's only a single row for each high school, so each DBN is unique in the SAT data.
- We may eventually want to combine the three columns that contain SAT scores -- SAT Critical Reading Avg. Score, SAT Math Avg. Score, and SAT Writing Avg. Score -- into a single column to make the scores easier to analyze.

In [4]:
## reading in txt file
all_survey = pd.read_csv("schools/survey_all.txt", delimiter="\t", encoding="windows-1252")

d75_survey = pd.read_csv("schools/survey_d75.txt",delimiter="\t",encoding="windows-1252")

survey = pd.concat([all_survey,d75_survey],axis=0)

survey.head()

C:\a\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,N_p,N_s,N_t,aca_p_11,aca_s_11,aca_t_11,aca_tot_11,bn,com_p_11,com_s_11,...,t_q8c_1,t_q8c_2,t_q8c_3,t_q8c_4,t_q9,t_q9_1,t_q9_2,t_q9_3,t_q9_4,t_q9_5
0,90.0,NaN,22.0,7.8,NaN,7.9,7.9,M015,7.6,NaN,...,29.0,67.0,5.0,0.0,NaN,5.0,14.0,52.0,24.0,5.0
1,161.0,NaN,34.0,7.8,NaN,9.1,8.4,M019,7.6,NaN,...,74.0,21.0,6.0,0.0,NaN,3.0,6.0,3.0,78.0,9.0
2,367.0,NaN,42.0,8.6,NaN,7.5,8.0,M020,8.3,NaN,...,33.0,35.0,20.0,13.0,NaN,3.0,5.0,16.0,70.0,5.0
3,151.0,145.0,29.0,8.5,7.4,7.8,7.9,M034,8.2,5.9,...,21.0,45.0,28.0,7.0,NaN,0.0,18.0,32.0,39.0,11.0
4,90.0,NaN,23.0,7.9,NaN,8.1,8.0,M063,7.9,NaN,...,59.0,36.0,5.0,0.0,NaN,10.0,5.0,10.0,60.0,15.0

We'll need to filter the columns to remove the ones we don't need. Luckily, there's a data dictionary at the [original data download](https://data.cityofnewyork.us/Education/NYC-School-Survey-2011/mnz3-dyi8) location. The dictionary tells us what each column represents. Based on our knowledge of the problem and the analysis we're trying to do, we can use the data dictionary to determine which columns to use.

In [5]:
survey['DBN'] = survey['dbn']
survey = survey.loc[:,["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]]
data['survey'] = survey
data['survey'].shape

(1702, 23)

Some of the data do not have a DBN column but have info on how we could make one. From looking at `class_size` dataset, we can tell that the DBN in the sat_results data is just a combination of the CSD and SCHOOL CODE columns in the class_size data. The main difference is that the DBN is padded, so that the CSD portion of it always consists of two digits. That means we'll need to add a leading 0 to the CSD if the CSD is less than two digits long.

In [6]:
data['hs_directory']['DBN'] = data['hs_directory']['dbn']

def pad_csd(csd):
    str_csd = str(csd)
    str_csd = str_csd.zfill(2)
    return str_csd

data['class_size']['padded_csd'] = data['class_size']['CSD'].apply(pad_csd)
data['class_size']['DBN'] = data['class_size']['padded_csd'] + data['class_size']['SCHOOL CODE']
data['class_size'].head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,padded_csd,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01,01M015

In [7]:
# combine differnt sat scores to make aggregation easier
cols = ['SAT Math Avg. Score','SAT Critical Reading Avg. Score','SAT Writing Avg. Score']

for col in cols:
    data['sat_results'][col]= pd.to_numeric(data['sat_results'][col], errors ="coerce")

data['sat_results']['sat_score'] = data['sat_results']['SAT Math Avg. Score'] + data['sat_results']['SAT Critical Reading Avg. Score'] + data['sat_results']['SAT Writing Avg. Score']
print(data['sat_results']['sat_score'].head())

0    1122.0
1    1172.0
2    1149.0
3    1174.0
4    1207.0
Name: sat_score, dtype: float64

We'll parse the latitude and longitude coordinates for each school. This will enable us to map the schools and uncover any geographic patterns in the data. The coordinates are currently in the text field Location 1 in the hs_directory data set.

In [8]:
import re
pattern = r'\(.+\)'
latidude = re.findall(pattern, "1110 Boston Road\nBronx, NY 10456\n(40.8276026690005, -73.90447525699966)")[0].split()[0].replace("(","").replace(",","")

# for latitude
def coords(string):
    latitude = re.findall("\(.+\)", string)[0].split()[0].replace("(","").replace(",","")
    return latitude
data['hs_directory']['lat'] = data['hs_directory']['Location 1'].apply(coords)
data['hs_directory'].head().T

,0,1,2,3,4
dbn,17K548,09X543,09X327,02M280,28Q680
school_name,Brooklyn School for Music & Theatre,High School for Violin and Dance,Comprehensive Model School Project M.S. 327,Manhattan Early College School for Advertising,Queens Gateway to Health Sciences Secondary Sc...
boro,Brooklyn,Bronx,Bronx,Manhattan,Queens
building_code,K440,X400,X240,M520,Q695
phone_number,718-230-6250,718-842-0687,718-294-8111,718-935-3477,718-969-3155
fax_number,718-230-6262,718-589-9849,718-294-8109,NaN,718-969-3552
grade_span_min,9,9,6,9,6
grade_span_max,12,12,12,10,12
expgrade_span_min,NaN,NaN,NaN,9,NaN
expgrade_span_max,NaN,NaN,NaN,14,NaN
bus,"B41, B43, B44-SBS, B45, B48, B49, B69","Bx13, Bx15, Bx17, Bx21, Bx35, Bx4, Bx41, Bx4A,...","Bx1, Bx11, Bx13, Bx18, Bx2, Bx3, Bx32, Bx35, Bx36","M103, M15, M22, M5, M9","Q25, Q46, Q65"
subway,"2, 3, 4, 5, F, S to Botanic Garden ; B, Q to P...","2, 5 to Intervale Ave","4 to Mt Eden Ave ; B, D to 170th St","1 to Chambers St ; 2, 3, A, C to Fulton St-Bro...",NaN
primary_address_line_1,883 Classon Avenue,1110 Boston Road,1501 Jerome Avenue,411 Pearl Street,160-20 Goethals Avenue
city,Brooklyn,Bronx,Bronx,New York,Jamaica
state_code,NY,NY,NY,NY,NY
zip,11225,10456,10452,10038,11432
website,Bkmusicntheatre.com,www.hsvd.org,http://schools.nyc.gov/schoolportals/09/X327,NaN,www.queensgateway.com
total_students,399,378,543,NaN,811
campus_name,Prospect Heights Educational Campus,Morris Educational Campus,DOE New Settlement Community Campus,Murry Bergtraum Educational Campus,NaN
school_type,NaN,NaN,NaN,"NYC P-Tech 9-14, New School",NaN
overview_paragraph,Brooklyn School for Music & Theatre (BSMT) use...,The High School for Violin and Dance (HSVD) is...,At the Comprehensive Model School Project (CMS...,Through close partnerships with the Borough of...,Queens Gateway to Health Sciences Secondary Sc...
program_highlights,We offer highly competitive positions in our D...,Freshmen take both violin and dance; College N...,"After-school and Saturday Tutoring, Advisory, ...",Early College experience leading to a free ass...,PSAT/SAT Prep (grades 9-11 must take the PSAT ...
language_classes,Spanish,Spanish,Spanish,"N/A (Expected: Chinese [Mandarin], French, Spa...",Spanish
advancedplacement_courses,"English Language and Composition, United State...",NaN,"Biology, Chemistry, United States History",NaN,"Calculus AB, English Literature and Compositio..."
online_ap_courses,NaN,NaN,NaN,NaN,NaN
online_language_courses,NaN,NaN,NaN,NaN,NaN
extracurricular_activities,"Variety of clubs: Chess, The Step Team, Fashio...",Advancement via Individual Determination (AVID...,"Choir, Gaming, Girls Club, Newspaper, Spanish,...","Advertising Competition, Advertising Industry ...","Academic Intervention Services, After-school D..."
psal_sports_boys,"Baseball, Basketball & JV Basketball, Cross Co...","Baseball, Basketball & JV Basketball, Volleyball",NaN,"Baseball, Basketball, Bowling, Cross Country, ...","Cross Country, Outdoor Track"
psal_sports_girls,"Basketball, Cross Country, Indoor Track, Outdo...","Basketball, Softball, Volleyball",NaN,"Basketball, Bowling, Cross Country, Handball, ...","Cross Country, Outdoor Track"
psal_sports_coed,NaN,NaN,NaN,NaN,NaN
school_sports,NaN,Morris Educational Campus Basketball and Volle...,"As we expand, we plan to offer PSAL sports.",NaN,"Boys Basketball, Boys and Girls Soccer, Floor ..."
partner_cbo,F.Y.R.EZONE (Finding Your Rhythm thru Educatio...,McGraw Hill - Big Brother Big Sister,New Settlement Community Center,NaN,Gateway Institute for Pre-College Education
partner_hospital,NaN,NaN,Montefiore Hospital,NaN,"Queens Hospital Center, Mount Sinai Hospital o..."
partner_highered,NaN,"Hostos Community College, Monroe College, Teac...",NaN,NaN,"York College, Queens College, St. John's Unive..."
partner_cultural,"In 2002, Roundabout Theatre was selected by Ne...",Bronx Arts Ensemble,NaN,NaN,NaN
partner_nonprofit,One To Worldâ€˜s Global Classroom connects New Y...,buildOn,NaN,NaN,NaN
partner_corporate,NaN,Print International,NaN,NaN,NaN
partner_financial,NaN,NaN,NaN,NaN,Working in Support of Education (W!SE)- Financ...
partner_other,NaN,Bronx Cares,NaN,NaN,NaN
addtl_info1,NaN,Our students are required to take four years o...,Dress Code Required: white or baby blue button...,NaN,NaN
addtl_info2,NaN,"Student Summer Orientation, Summer Internship ...",NaN,Extended Day Offered; Extended Year Offered; I...,"Community Service Requirement, Extended Day Pr..."
start_time,8:10 AM,8:00 AM,8:00 AM,8:30 AM,8:00 AM
end_time,3:00 PM,3:00 PM,4:00 PM,3:45 PM,2:30 PM
se_services,This school will provide students with disabil...,This school will provide students with disabil...,This school will provide students with disabil...,This school will provide students with disabil...,This school will provide students with disabil...
ell_programs,ESL,ESL,ESL,ESL,ESL
school_accessibility_description,Functionally Accessible,Functionally Accessible,Functionally Accessible,Functionally Accessible,Functionally Accessible
number_programs,1,1,1,1,1
priority01,Priority to Brooklyn students or residents,Priority to Bronx students or residents who at...,Priority to continuing 8th graders,Priority to Manhattan students or residents wh...,Priority to continuing 8th graders
priority02,Then to New York City residents,Then to New York City residents who attend an ...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Districts 28 and 29 students or residents
priority03,NaN,Then to Bronx students or residents,Then to New York City residents who attend an ...,Then to Manhattan students or residents,Then to Queens students or residents
priority04,NaN,Then to New York City residents,Then to Bronx students or residents,Then to New York City residents,Then to New York City residents
priority05,NaN,NaN,Then to New York City residents,NaN,NaN
priority06,NaN,NaN,NaN,NaN,NaN
priority07,NaN,NaN,NaN,NaN,NaN
priority08,NaN,NaN,NaN,NaN,NaN
priority09,NaN,NaN,NaN,NaN,NaN
priority10,NaN,NaN,NaN,NaN,NaN
Location 1,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...","1110 Boston Road\nBronx, NY 10456\n(40.8276026...","1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...","411 Pearl Street\nNew York, NY 10038\n(40.7106...","160-20 Goethals Avenue\nJamaica, NY 11432\n(40..."
DBN,17K548,09X543,09X327,02M280,28Q680
lat,40.67029890700047,40.8276026690005,40.842414068000494,40.71067947100045,40.718810094000446

In [9]:
# for longitude
def coords(string):
    longitude = re.findall("\(.+\)", string)[0].split()[1].replace(")","").replace(",","")
    return longitude
data['hs_directory']['lon'] = data['hs_directory']['Location 1'].apply(coords)
cols = ["lat","lon"]
for col in cols:
    data['hs_directory'][col] = pd.to_numeric(data['hs_directory'][col], errors ="coerce")
data['hs_directory'].head().T

,0,1,2,3,4
dbn,17K548,09X543,09X327,02M280,28Q680
school_name,Brooklyn School for Music & Theatre,High School for Violin and Dance,Comprehensive Model School Project M.S. 327,Manhattan Early College School for Advertising,Queens Gateway to Health Sciences Secondary Sc...
boro,Brooklyn,Bronx,Bronx,Manhattan,Queens
building_code,K440,X400,X240,M520,Q695
phone_number,718-230-6250,718-842-0687,718-294-8111,718-935-3477,718-969-3155
fax_number,718-230-6262,718-589-9849,718-294-8109,NaN,718-969-3552
grade_span_min,9,9,6,9,6
grade_span_max,12,12,12,10,12
expgrade_span_min,NaN,NaN,NaN,9,NaN
expgrade_span_max,NaN,NaN,NaN,14,NaN
bus,"B41, B43, B44-SBS, B45, B48, B49, B69","Bx13, Bx15, Bx17, Bx21, Bx35, Bx4, Bx41, Bx4A,...","Bx1, Bx11, Bx13, Bx18, Bx2, Bx3, Bx32, Bx35, Bx36","M103, M15, M22, M5, M9","Q25, Q46, Q65"
subway,"2, 3, 4, 5, F, S to Botanic Garden ; B, Q to P...","2, 5 to Intervale Ave","4 to Mt Eden Ave ; B, D to 170th St","1 to Chambers St ; 2, 3, A, C to Fulton St-Bro...",NaN
primary_address_line_1,883 Classon Avenue,1110 Boston Road,1501 Jerome Avenue,411 Pearl Street,160-20 Goethals Avenue
city,Brooklyn,Bronx,Bronx,New York,Jamaica
state_code,NY,NY,NY,NY,NY
zip,11225,10456,10452,10038,11432
website,Bkmusicntheatre.com,www.hsvd.org,http://schools.nyc.gov/schoolportals/09/X327,NaN,www.queensgateway.com
total_students,399,378,543,NaN,811
campus_name,Prospect Heights Educational Campus,Morris Educational Campus,DOE New Settlement Community Campus,Murry Bergtraum Educational Campus,NaN
school_type,NaN,NaN,NaN,"NYC P-Tech 9-14, New School",NaN
overview_paragraph,Brooklyn School for Music & Theatre (BSMT) use...,The High School for Violin and Dance (HSVD) is...,At the Comprehensive Model School Project (CMS...,Through close partnerships with the Borough of...,Queens Gateway to Health Sciences Secondary Sc...
program_highlights,We offer highly competitive positions in our D...,Freshmen take both violin and dance; College N...,"After-school and Saturday Tutoring, Advisory, ...",Early College experience leading to a free ass...,PSAT/SAT Prep (grades 9-11 must take the PSAT ...
language_classes,Spanish,Spanish,Spanish,"N/A (Expected: Chinese [Mandarin], French, Spa...",Spanish
advancedplacement_courses,"English Language and Composition, United State...",NaN,"Biology, Chemistry, United States History",NaN,"Calculus AB, English Literature and Compositio..."
online_ap_courses,NaN,NaN,NaN,NaN,NaN
online_language_courses,NaN,NaN,NaN,NaN,NaN
extracurricular_activities,"Variety of clubs: Chess, The Step Team, Fashio...",Advancement via Individual Determination (AVID...,"Choir, Gaming, Girls Club, Newspaper, Spanish,...","Advertising Competition, Advertising Industry ...","Academic Intervention Services, After-school D..."
psal_sports_boys,"Baseball, Basketball & JV Basketball, Cross Co...","Baseball, Basketball & JV Basketball, Volleyball",NaN,"Baseball, Basketball, Bowling, Cross Country, ...","Cross Country, Outdoor Track"
psal_sports_girls,"Basketball, Cross Country, Indoor Track, Outdo...","Basketball, Softball, Volleyball",NaN,"Basketball, Bowling, Cross Country, Handball, ...","Cross Country, Outdoor Track"
psal_sports_coed,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
partner_cbo,F.Y.R.EZONE (Finding Your Rhythm thru Educatio...,McGraw Hill - Big Brother Big Sister,New Settlement Community Center,NaN,Gateway Institute for Pre-College Education
partner_hospital,NaN,NaN,Montefiore Hospital,NaN,"Queens Hospital Center, Mount Sinai Hospital o..."
partner_highered,NaN,"Hostos Community College, Monroe College, Teac...",NaN,NaN,"York College, Queens College, St. John's Unive..."
partner_cultural,"In 2002, Roundabout Theatre was selected by Ne...",Bronx Arts Ensemble,NaN,NaN,NaN
partner_nonprofit,One To Worldâ€˜s Global Classroom connects New Y...,buildOn,NaN,NaN,NaN
partner_corporate,NaN,Print International,NaN,NaN,NaN
partner_financial,NaN,NaN,NaN,NaN,Working in Support of Education (W!SE)- Financ...
partner_other,NaN,Bronx Cares,NaN,NaN,NaN
addtl_info1,NaN,Our students are required to take four years o...,Dress Code Required: white or baby blue button...,NaN,NaN
addtl_info2,NaN,"Student Summer Orientation, Summer Internship ...",NaN,Extended Day Offered; Extended Year Offered; I...,"Community Service Requirement, Extended Day Pr..."
start_time,8:10 AM,8:00 AM,8:00 AM,8:30 AM,8:00 AM
end_time,3:00 PM,3:00 PM,4:00 PM,3:45 PM,2:30 PM
se_services,This school will provide students with disabil...,This school will provide students with disabil...,This school will provide students with disabil...,This school will provide students with disabil...,This school will provide students with disabil...
ell_programs,ESL,ESL,ESL,ESL,ESL
school_accessibility_description,Functionally Accessible,Functionally Accessible,Functionally Accessible,Functionally Accessible,Functionally Accessible
number_programs,1,1,1,1,1
priority01,Priority to Brooklyn students or residents,Priority to Bronx students or residents who at...,Priority to continuing 8th graders,Priority to Manhattan students or residents wh...,Priority to continuing 8th graders
priority02,Then to New York City residents,Then to New York City residents who attend an ...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Districts 28 and 29 students or residents
priority03,NaN,Then to Bronx students or residents,Then to New York City residents who attend an ...,Then to Manhattan students or residents,Then to Queens students or residents
priority04,NaN,Then to New York City residents,Then to Bronx students or residents,Then to New York City residents,Then to New York City residents
priority05,NaN,NaN,Then to New York City residents,NaN,NaN
priority06,NaN,NaN,NaN,NaN,NaN
priority07,NaN,NaN,NaN,NaN,NaN
priority08,NaN,NaN,NaN,NaN,NaN
priority09,NaN,NaN,NaN,NaN,NaN
priority10,NaN,NaN,NaN,NaN,NaN
Location 1,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...","1110 Boston Road\nBronx, NY 10456\n(40.8276026...","1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...","411 Pearl Street\nNew York, NY 10038\n(40.7106...","160-20 Goethals Avenue\nJamaica, NY 11432\n(40..."
DBN,17K548,09X543,09X327,02M280,28Q680
lat,40.6703,40.8276,40.8424,40.7107,40.7188
lon,-73.9616,-73.9045,-73.9162,-74.0008,-73.8065

## Condensing the data

We'll need to condense these data sets so that each value in the DBN column is unique. If not, we'll run into issues when it comes time to combine the data sets.
The first data set that we'll condense is class_size. The first few rows of class_size look like this:

In [10]:
data['class_size'].head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,padded_csd,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01,01M015

It looks like each school has multiple values for GRADE, PROGRAM TYPE, CORE SUBJECT (MS CORE and 9-12 ONLY), and CORE COURSE (MS CORE and 9-12 ONLY).

If we look at the unique values for GRADE, we get the following:

    array(['0K', '01', '02', '03', '04', '05', '0K-09', nan, '06', '07', '08','MS Core', '09-12', '09'], dtype=object)

In [11]:
class_size = data['class_size']
# we choose Grade 09-12 beacause we are working with high schools
class_size = class_size[class_size['GRADE '] == '09-12']
# we choose GEN ED cause it has the larger number
class_size = class_size[class_size['PROGRAM TYPE'] == 'GEN ED']
class_size.head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,padded_csd,DBN
225,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 9,-,63.0,3.0,21.0,19.0,25.0,STARS,NaN,01,01M292
226,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 10,-,79.0,3.0,26.3,24.0,31.0,STARS,NaN,01,01M292
227,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 11,-,38.0,2.0,19.0,16.0,22.0,STARS,NaN,01,01M292
228,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 12,-,69.0,3.0,23.0,13.0,30.0,STARS,NaN,01,01M292
229,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,MATH,Integrated Algebra,-,53.0,3.0,17.7,16.0,21.0,STARS,NaN,01,01M292

In [13]:
# aggregate across DBN to condense the dataset
class_size = class_size.groupby('DBN').agg(np.mean)
class_size.reset_index(inplace = True)
data['class_size'] = class_size
data['class_size'].head()

,DBN,CSD,NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
0,01M292,1,88.0000,4.000000,22.564286,18.50,26.571429,NaN
1,01M332,1,46.0000,2.000000,22.000000,21.00,23.500000,NaN
2,01M378,1,33.0000,1.000000,33.000000,33.00,33.000000,NaN
3,01M448,1,105.6875,4.750000,22.231250,18.25,27.062500,NaN
4,01M450,1,57.6000,2.733333,21.200000,19.40,22.866667,NaN

Now that we've finished condensing class_size, let's condense demographics. The first few rows look like this:

In [14]:
data['demographics'].head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4

In [15]:
# Since the school year is the only column of issue, we choose the latest.
data["demographics"] = data["demographics"][data["demographics"].schoolyear == 20112012]
data["demographics"].head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,13,31,35,28,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,32,46,52,54,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,52,102,121,87,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,NaN,99.7,401,14,34,38,36,...,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
35,01M063,PS 063 WILLIAM MCKINLEY,20112012,NaN,78.9,176,18,20,30,21,...,41,23.3,110,62.5,15,8.5,97.0,55.1,79.0,44.9

Finally, we'll need to condense the graduation data set. Here are the first few rows:

In [16]:
data['graduation'].head()

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,5,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,55,37,67.3%,17,30.9%,45.9%,...,17,30.9%,45.9%,20,36.4%,54.1%,15,27.3%,3,5.5%
2,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,64,43,67.2%,27,42.2%,62.8%,...,27,42.2%,62.8%,16,25%,37.200000000000003%,9,14.1%,9,14.1%
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
4,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,78,44,56.4%,37,47.4%,84.1%,...,37,47.4%,84.1%,7,9%,15.9%,15,19.2%,11,14.1%

In [17]:
graduation = data['graduation']
# choose the latest cohort and the category of Demograhics that captures the most data
graduation = graduation[(graduation['Cohort'] == "2006") & (graduation['Demographic'] == 'Total Cohort')]
data['graduation'] = graduation
data['graduation'].head()

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
10,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2006,124,53,42.7%,42,33.9%,79.2%,...,34,27.4%,64.2%,11,8.9%,20.8%,46,37.1%,20,16.100000000000001%
17,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2006,90,70,77.8%,67,74.400000000000006%,95.7%,...,67,74.400000000000006%,95.7%,3,3.3%,4.3%,15,16.7%,5,5.6%
24,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2006,84,47,56%,40,47.6%,85.1%,...,23,27.4%,48.9%,7,8.300000000000001%,14.9%,25,29.8%,5,6%
31,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2006,193,105,54.4%,91,47.2%,86.7%,...,22,11.4%,21%,14,7.3%,13.3%,53,27.5%,35,18.100000000000001%

In [18]:
# Convert to numeric values
cols = ['AP Test Takers ', 'Total Exams Taken', 'Number of Exams with scores 3 4 or 5']
for col in cols:
    data['ap_2010'][col] = pd.to_numeric(data['ap_2010'][col], errors = "coerce")

data['ap_2010'].dtypes

DBN                                      object
SchoolName                               object
AP Test Takers                          float64
Total Exams Taken                       float64
Number of Exams with scores 3 4 or 5    float64
dtype: object

##  Merging the Data
Choice of merge is very important. Choose a suitable merge strategy.

In [19]:
combined = data["sat_results"]
combined = combined.merge(data["ap_2010"], how="left", on="DBN")
combined = combined.merge(data["graduation"], how="left", on="DBN")
print(combined.shape)
combined.head()

(479, 33)

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score,SchoolName,AP Test Takers,Total Exams Taken,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,NaN,NaN,NaN,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0,UNIVERSITY NEIGHBORHOOD H.S.,39.0,49.0,...,34,27.4%,64.2%,11,8.9%,20.8%,46,37.1%,20,16.100000000000001%
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,EAST SIDE COMMUNITY HS,19.0,21.0,...,67,74.400000000000006%,95.7%,3,3.3%,4.3%,15,16.7%,5,5.6%
3,01M458,FORSYTH SATELLITE ACADEMY,7,414.0,401.0,359.0,1174.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01M509,MARTA VALLE HIGH SCHOOL,44,390.0,433.0,384.0,1207.0,NaN,NaN,NaN,...,23,27.4%,48.9%,7,8.300000000000001%,14.9%,25,29.8%,5,6%

In [20]:
cols = ["class_size", "demographics", "survey", "hs_directory"]
for col in cols:
    combined = combined.merge(data[col], how="inner", on="DBN")
print(combined.shape) 
combined.head()

(363, 159)

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score,SchoolName,AP Test Takers,Total Exams Taken,...,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1,lat,lon
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,NaN,NaN,NaN,...,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"220 Henry Street\nNew York, NY 10002\n(40.7137...",40.713764,-73.985260
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0,UNIVERSITY NEIGHBORHOOD H.S.,39.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"200 Monroe Street\nNew York, NY 10002\n(40.712...",40.712332,-73.984797
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,EAST SIDE COMMUNITY HS,19.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"420 East 12 Street\nNew York, NY 10009\n(40.72...",40.729783,-73.983041
3,01M509,MARTA VALLE HIGH SCHOOL,44,390.0,433.0,384.0,1207.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"145 Stanton Street\nNew York, NY 10002\n(40.72...",40.720569,-73.985673
4,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522.0,574.0,525.0,1621.0,"NEW EXPLORATIONS SCI,TECH,MATH",255.0,377.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"111 Columbia Street\nNew York, NY 10002\n(40.7...",40.718725,-73.979426

## Handling Missing data

In [21]:
means = combined.mean()
# fill numeric columns with mean
combined = combined.fillna(means)
# others with zero
combined = combined.fillna(0)
combined.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score,SchoolName,AP Test Takers,Total Exams Taken,...,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1,lat,lon
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,0,129.028846,197.038462,...,Then to Manhattan students or residents,Then to New York City residents,0,0,0,0,0,"220 Henry Street\nNew York, NY 10002\n(40.7137...",40.713764,-73.985260
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0,UNIVERSITY NEIGHBORHOOD H.S.,39.000000,49.000000,...,0,0,0,0,0,0,0,"200 Monroe Street\nNew York, NY 10002\n(40.712...",40.712332,-73.984797
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,EAST SIDE COMMUNITY HS,19.000000,21.000000,...,0,0,0,0,0,0,0,"420 East 12 Street\nNew York, NY 10009\n(40.72...",40.729783,-73.983041
3,01M509,MARTA VALLE HIGH SCHOOL,44,390.0,433.0,384.0,1207.0,0,129.028846,197.038462,...,0,0,0,0,0,0,0,"145 Stanton Street\nNew York, NY 10002\n(40.72...",40.720569,-73.985673
4,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522.0,574.0,525.0,1621.0,"NEW EXPLORATIONS SCI,TECH,MATH",255.000000,377.000000,...,0,0,0,0,0,0,0,"111 Columbia Street\nNew York, NY 10002\n(40.7...",40.718725,-73.979426

Mapping the statistics out on a school district level might be an interesting way to analyze them. Adding a column to the data set that specifies the school district will help us accomplish this.

The school district is just the first two characters of the DBN. We can apply a function over the DBN column of combined that pulls out the first two letters.

In [22]:
def get_first_two_chars(string):
    return string[:2]
combined['school_dist'] = combined['DBN'].apply(get_first_two_chars)
print(combined['school_dist'].head())

0    01
1    01
2    01
3    01
4    01
Name: school_dist, dtype: object

In [23]:
# saving the work
combined.to_csv("combined.csv", index = False)